In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movies_2017.csv')

In [3]:
df.head()

,Unnamed: 0,director_name,genres,movie_title,ratings,actors,combine
0,0,James Cameron,Action Adventure Fantasy Sci-Fi,avatar,7.9,CCH Pounder Joel David Moore Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,1,Gore Verbinski,Action Adventure Fantasy,pirates of the caribbean: at world's end,7.1,Johnny Depp Orlando Bloom Jack Davenport,Gore Verbinski Action Adventure Fantasy pirate...
2,2,Sam Mendes,Action Adventure Thriller,spectre,6.8,Christoph Waltz Rory Kinnear Stephanie Sigman,Sam Mendes Action Adventure Thriller spectre C...
3,3,Christopher Nolan,Action Thriller,the dark knight rises,8.5,Tom Hardy Christian Bale Joseph Gordon-Levitt,Christopher Nolan Action Thriller the dark kni...
4,4,Doug Walker,Documentary,star wars: episode vii - the force awakens ...,7.1,Doug Walker Rob Walker Unknown,Doug Walker Documentary star wars: episode vii...

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.7-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\vijit kumar\.conda\envs\notebook\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vijit kumar\.conda\envs\notebook\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\vijit kumar\.conda\envs\notebook\lib\site-packages (from requests->tmdbv3api) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vijit kumar\.conda\envs\notebook\lib\site-packages (from requests->tmdbv3api) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vijit kumar\.conda\envs\notebook\lib\site-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.7

In [5]:
from tmdbv3api import Movie
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()

In [135]:
from tmdbv3api import Movie
tmdb_movie = Movie()
tmdb.api_key = '713029e82f60e1b15a9075af71e879c1'
def get_id(x):
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    s =  data_json['id']
    return s

In [34]:
df1 = df.copy()

In [85]:
search = tmdb_movie.search('Mad Max')

for res in search:
    print(res.id)

In [86]:
movie_id

19995

In [154]:

df.drop_duplicates('movie_title',keep='last',inplace=True)
s = list(df['movie_title'])
len(s)

5441

In [155]:
df.isnull().sum()

director_name    0
genres           0
movie_title      0
ratings          0
actors           0
combine          0
dtype: int64

In [93]:
movie = Movie()

In [128]:
"""def get_id(x):
    #poster = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    return data_json['id']"""

In [156]:
movie_id = []
for i in list(df['movie_title']):
    s = get_id(i)
    movie_id.append(s)

IndexError: list index out of range

In [139]:
len(movie_id)

765

In [142]:
df2=df1[df1.index>765]

In [143]:
df2.head()

,director_name,genres,movie_title,ratings,actors,combine
766,John Dahl,Action Drama War,the great raid,6.7,James Franco Clayne Crawford Paolo Montalban,John Dahl Action Drama War the great raid Jame...
767,Tim Miller,Action Adventure Comedy Romance Sci-Fi,deadpool,8.1,Ryan Reynolds Ed Skrein Stefan Kapicic,Tim Miller Action Adventure Comedy Romance Sci...
768,Stephen Herek,Comedy Drama,holy man,4.9,Kelly Preston Morgan Fairchild Eric McCormack,Stephen Herek Comedy Drama holy man Kelly Pres...
769,Clint Eastwood,Action Biography Drama History Thriller War,american sniper,7.3,Bradley Cooper Leonard Roberts Keir O'Donnell,Clint Eastwood Action Biography Drama History ...
770,Unknown,Comedy Family Fantasy,"sabrina, the teenage witch",6.6,Nate Richert Soleil Moon Frye Caroline Rhea,"Unknown Comedy Family Fantasy sabrina, the tee..."

In [144]:
for i in list(df2['movie_title']):
    s = get_id(i)
    movie_id.append(s)

IndexError: list index out of range

In [152]:
get_id('the great raid')

13922

In [145]:
len(movie_id)

944

In [157]:
df3=df1[df1.index>945]

In [158]:
df3.head()

,director_name,genres,movie_title,ratings,actors,combine
946,Andrew Bergman,Comedy Crime Drama Thriller,striptease,4.3,Demi Moore Rumer Willis Paul Guilfoyle,Andrew Bergman Comedy Crime Drama Thriller str...
947,Tom Dey,Comedy Family,marmaduke,4.2,Emma Stone Judy Greer Steve Coogan,Tom Dey Comedy Family marmaduke Emma Stone Jud...
948,Clint Eastwood,Drama Fantasy,hereafter,6.5,Matt Damon Jay Mohr Cécile De France,Clint Eastwood Drama Fantasy hereafter Matt Da...
949,Richard Donner,Action Crime Thriller,assassins,6.3,Muse Watson Sylvester Stallone Kelly Rowan,Richard Donner Action Crime Thriller assassins...
950,Peter Webber,Crime Drama Thriller,hannibal rising,6.2,Li Gong Stephen Walters Richard Brake,Peter Webber Crime Drama Thriller hannibal ris...

In [ ]:
for i in list(df3['movie_title']):
    s = get_id(i)
    movie_id.append(s)

In [ ]:
#mukesh.b@ineuron.ai